body{
    padding: 0;
    margin: 0;
    background-color: rgb(233, 230, 230);
    font-family: 'Times New Roman', Times, serif;
}


.main h1{
    font-family: "Pirata One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 8em;
}

.main{
    padding-top: 10%;
    padding-bottom: 20%;
    text-align: center;
    margin: 0 auto;
}

.buttons{
    display: flex;
    justify-content: space-between;
    width: 250px;
    margin: 0 auto;
}

.buttons2{
    display: flex;
    width: 250px;
    margin: 0 auto;
}

#button{
    color: aliceblue;
    padding: 10px 20px;
    background-color: black;
    text-align: center;
}

#button:hover{
    cursor: pointer;
    color: rgb(0, 0, 0);
    background-color: rgb(158, 158, 158);
    text-align: center;
}

.buttons a{
    text-decoration: none;
}

.buttons2 a{
    text-decoration: none;
}

.personagens h1{
    font-family: "Pirata One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 8em;
    text-align: center;
}

.personagens{
    padding: 20px 10px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 5vw;
}

.fichas{
    background-color: rgb(226, 187, 203);
}

.ficha{
    padding: 40px;
    display: flex;
}

.imagem{
    width: 150vw;
    margin-right: 40px;
}

.imagem img{
    width: 100%;
}

.categoria{
   
}

.categoria h2{
    font-family: "Pirata One", serif;
    font-size: 1.6em;
    color: rgb(136, 29, 91);
    margin: 0;
}

.campo p{
    padding: 10px 15px;
    font-size: 1.1em;
    margin-top: 10px;
    border: 1px solid rgb(107, 10, 67);;
}

.accordion {
    background-color: rgb(226, 187, 203);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}


@media only screen and (max-width: 600px) {
    .personagens h1 {
        font-size: 3em;
    }

    .personagens #button{
        margin: 0 auto;
        margin-left: 25%;
        color: aliceblue;
        padding: 10px 20px;
        background-color: black;
        text-align: center;
    }

    .ficha{
        display: block;
    }

    .imagem{
        width: 100%;
    }

    .ficha p{
        font-size: 15px;
    }
  }